<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=s, initial-scale=1.0" />
     <link rel="icon" href="./static/assets/logo.jpg" type="image/x- icon">
    <title>REVENTA SHOP</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <script src="https://kit.fontawesome.com/51e5468a40.js"></script>

    <link rel="stylesheet" href="/css/style.css" />

    <link rel="shortcut icon" href="./assets/logo.jpg">
    <link rel="stylesheet" type="text/css" href="http://schauhan.in/Examples/ecommerce_product_slider/style1.css" />
    <link rel="stylesheet" type="text/css" href="http://schauhan.in/Examples/ecommerce_product_slider/lightslider.css" />
    <script src="http://schauhan.in/Examples/ecommerce_product_slider/jquery-3.5.1.js" ></script>
    <script src="http://schauhan.in/Examples/ecommerce_product_slider/lightslider.js" ></script>

    <!-- jAVASCRIPT -->
    <script>
        $(document).ready(function() {
        $('#autoWidth').lightSlider({
            autoWidth:true,
            loop:true,
            onSliderLoad: function() {
                $('#autoWidth').removeClass('cS-hidden');
            } 
        });  
      });
      </script>
    
  </head>
  <body>
      <section id="header">
      <div class="wrapper">
        <nav>
          <input type="checkbox" id="show-search">
          <input type="checkbox" id="show-menu">
          <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
          <div class="content">
            <a href="#"><img src="./assets/logo.jpg" class="logo" alt="" /></a>
         
            <ul class="links" id="navbar">
              <li><a class="active" href="/">Home</a></li>
             
              <li><a href="/about">About</a></li>
             
              <li>
                <a href="#" class="desktop-link">Features</a>
                <input type="checkbox" id="show-features">
                <label for="show-features">Features</label>
                <ul id="navbar">
                  <li><a href="/login">login</a></li>
                  <li><a href="/signin">Register</a></li>
                  <li><a href="/application">application</a></li>
                 
                </ul>
              </li>
              <li>
                <a href="#" class="desktop-link">Services</a>
                <input type="checkbox" id="show-services">
                <label for="show-services">Services</label>
                <ul id="navbar">
                  <li><a href="/shop">shop</a></li>
                  <li><a href="/rent">rent</a></li>
                  <li><a href="/reportus">report us</a></li>
                  <li>
                    <a href="/contactus" class="desktop-link">Contact us</a>
                    <input type="checkbox" id="show-items">
                    <label for="show-items">More Items</label>
                    <ul id="navbar">
                      <li><a href="/cart" >Cart</a></li>
                      <li><a href="/blog">blog</a></li>
                      <li><a href="/team">Team members</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="/cart"<i class="fa fa-shopping-bag" aria-hidden="true"></i
                ></a></li>
            </ul>
          </div>
          <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
          <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
          </form>
        </nav>
      </div>
      <div class="dummy-text">
      </div>
      </section>
    <section id="product1" class="section-p1">
       <h2>For BUYING</h2>
      <p>earrings, necklaces,watches and many more...</p>
      <div class="pro-container">
        <div class="pro">
          <img src="./assets/p1.jpg" alt="" />
          <div class="des">
            <span>BUY</span>
            <h5>Black Wedding/Party Big Jhumka</h5>
            <h4>Rs 112</h4>
          </div>
          
          <details target="_blank">
            <summary>Details</summary>
            <div class = "main-wrapper">
              <div class = "container">
                  <div class = "product-div">
                      <div class = "product-div-left"> 
                          <div class = "img-container">
                             
                          </div>
                           <div class = "hover-container">
                              
                      </div>
                      <div class = "product-div-right">
                          <span class = "product-name">Name:Black Wedding/Party Big Jhumka
                           
                           </span>
                          <span class = "product-price">112</span>
                          <div class = "product-rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star-half-alt"></i></span>
                              <span>(300 ratings)</span>
                          </div>
                          <p class = "product-description">
                            Base Metal: Brass<br>
                            Plating: Oxidised Silver<br>
                            Sizing: Non-Adjustable<br>
                            Stone Type: No Stone<br>
                            Type: Jhumkhas<br>
                            Net Quantity (N): 1<br>
                                                      
                           
                          </p>
                          <div class = "btn-groups">
                              <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                              <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </details>
        <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
         </div>
        
        <div class="pro">
          <img src="./assets/p2.jpg" alt="" />
          <div class="des">
            <span>BUY</span>
            <h5>Pink golden Jhumka Party wear earrings Jhumka earrings </h5>
            <h4>Rs 120</h4>
          </div>
          <details target="_blank">
            <summary>Details</summary>
            <div class = "main-wrapper">
              <div class = "container">
                  <div class = "product-div">
                      <div class = "product-div-left"> 
                          <div class = "img-container">
                             
                          </div>
                           <div class = "hover-container">
                              
                      </div>
                      <div class = "product-div-right">
                          <span class = "product-name">Name: Pink golden Jhumka Party wear earrings Jhumka earrings 
                            </span>
                          <span class = "product-price">120</span>
                          <div class = "product-rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star-half-alt"></i></span>
                              <span>(300 ratings)</span>
                          </div>
                          <p class = "product-description">
                            Base Metal: Alloy<br>
                            Plating: Gold Plated<br>
                            Sizing: Non-Adjustable<br>
                            Stone Type: No Stone<br>
                            Net Quantity (N): 1
                           
                           
                          </p>
                          <div class = "btn-groups">
                              <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                              <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </details>
        <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
         </div>
        


         <div class="pro">
          <img src="./assets/b1 (1).jpeg" alt="" />
          <div class="des">
            <span>BUY</span>
            <h5>Pyramid Style black silver Colour Jhumkas/Earrings For Women and Girl </h5>
            <h4>Rs 90</h4>
          </div>
          <details target="_blank">
            <summary>Details</summary>
            <div class = "main-wrapper">
              <div class = "container">
                  <div class = "product-div">
                      <div class = "product-div-left"> 
                          <div class = "img-container">
                             
                          </div>
                           <div class = "hover-container">
                              
                      </div>
                      <div class = "product-div-right">
                          <span class = "product-name">Name:Pyramid Style black silver Colour Jhumkas/Earrings For Women and Girls
                           </span>
                          <span class = "product-price">90</span>
                          <div class = "product-rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star-half-alt"></i></span>
                              <span>(300 ratings)</span>
                          </div>
                          <p class = "product-description">
                            Base Metal: Brass & Copper<br>
                            Plating: Silver Plated<br>
                            Sizing: Adjustable<br>
                            Stone Type: Artificial Beads<br>
                            Type: Jhumkhas<br>
                            Net Quantity (N): 1<br>
                           
                          </p>
                          <div class = "btn-groups">
                              <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                              <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </details>
        <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
        </div>
        
        

        <div class="pro">
          <img src="./assets/f2.jpeg" alt="" />
          <div class="des">
            <span>BUY</span>
            <h5>Stylish Silver Plated multi colourflowrel hoops</h5>
            <h4>Rs 90</h4>
          </div>
         
          
          <details target="_blank">
            <summary>Details</summary>
            <div class = "main-wrapper">
              <div class = "container">
                  <div class = "product-div">
                      <div class = "product-div-left"> 
                          <div class = "img-container">
                             
                          </div>
                           <div class = "hover-container">
                              
                      </div>
                      <div class = "product-div-right">
                          <span class = "product-name">Name:Stylish Silver Plated multi colourflowrel hoops
                           </span>
                          <span class = "product-price">90</span>
                          <div class = "product-rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star-half-alt"></i></span>
                              <span>(250 ratings)</span>
                          </div>
                          <p class = "product-description">
                            Base Metal: Brass<br>
                            Plating: Oxidised Silver<br>
                            Sizing: Non-Adjustable<br>
                            Stone Type: No Stone<br>
                            Type: Half Hoop Earrings<br>
                            Net Quantity (N): 1<br>
                           
                           
                          </p>
                          <div class = "btn-groups">
                              <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                              <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </details>
        <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
         </div>


         <div class="pro">
          <img src="./assets/f7.jpeg" alt="" />
          <div class="des">
            <span>BUY</span>
            <h5>Black Silver Ring Earring  
            </h5>
            <h4>Rs 135</h4>
          </div>
          
          <details target="_blank">
            <summary>Details</summary>
            <div class = "main-wrapper">
              <div class = "container">
                  <div class = "product-div">
                      <div class = "product-div-left"> 
                          <div class = "img-container">
                             
                          </div>
                           <div class = "hover-container">
                              
                      </div>
                      <div class = "product-div-right">
                          <span class = "product-name">Name: Black Silver Ring Earring
                            </span>
                          <span class = "product-price">135</span>
                          <div class = "product-rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star-half-alt"></i></span>
                              <span>(150 ratings)</span>
                          </div>
                          <p class = "product-description">
                            Base Metal: Brass<br>
                            Plating: Oxidised Silver<br>
                            Sizing: Adjustable<br>
                            Stone Type: Artificial Stones & Beads<br>
                            Net Quantity (N): 1<br>
                           
                           
                          </p>
                          <div class = "btn-groups">
                              <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                              <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </details>
        <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
         </div>
        

        <div class="pro">
          <img src="./assets/f13.jpeg" alt="" />
          <div class="des">
            <span>BUY</span>
            <h5>Gold Plated Jewellery Set With Earring for women</h5>
            <h4>Rs 225</h4>
          </div>
          <details target="_blank">
            <summary>Details</summary>
            <div class = "main-wrapper">
              <div class = "container">
                  <div class = "product-div">
                      <div class = "product-div-left"> 
                          <div class = "img-container">
                             
                          </div>
                           <div class = "hover-container">
                              
                      </div>
                      <div class = "product-div-right">
                          <span class = "product-name">Name: Gold Plated Jewellery Set With Earring for women
                            </span>
                          <span class = "product-price">225</span>
                          <div class = "product-rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star-half-alt"></i></span>
                              <span>(300 ratings)</span>
                          </div>
                          <p class = "product-description">
                            Base Metal: Brass<br>
                            Plating: Gold Plated<br>
                            Stone Type: Kundan<br>
                            Sizing: Adjustable<br>
                            Type: Necklace and Earrings<br>
                            
                           
                          </p>
                          <div class = "btn-groups">
                              <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                              <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </details>
        <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
         </div>
        

         <div class="pro">
          <img src="./assets/f6.jpeg" alt="" />
          <div class="des">
            <span>BUY</span>
            <h5>Fastrack- Unix</h5>
            <h4>Rs 250</h4>
          </div>
          
          <details target="_blank">
            <summary>Details</summary>
            <div class = "main-wrapper">
              <div class = "container">
                  <div class = "product-div">
                      <div class = "product-div-left"> 
                          <div class = "img-container">
                             
                          </div>
                           <div class = "hover-container">
                              
                      </div>
                      <div class = "product-div-right">
                          <span class = "product-name">Name: Fastrack- Unix</span>
                          <span class = "product-price">250</span>
                          <div class = "product-rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star-half-alt"></i></span>
                              <span>(300 ratings)</span>
                          </div>
                          <p class = "product-description">
                            Band Metal color: Gold and Black<br>
                            Plating: Gold Plated<br>
                            Sizing: Adjustable<br>
                            Origin: India<br>
                            Type: Automatic<br>
                            Net Quantity (N): 1
                           
                          </p>
                          <div class = "btn-groups">
                              <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                              <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </details>
        <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
         </div>
        
        


         <div class="pro">
          <img src="./assets/f4.jpeg" alt="" />
          <div class="des">
            <span>BUY</span>
            <h5>Blue Benz Unisex Watch</h5>
            <h4>Rs 220</h4>
          </div>
            <details target="_blank">
            <summary>Details</summary>
            <div class = "main-wrapper">
              <div class = "container">
                  <div class = "product-div">
                      <div class = "product-div-left"> 
                          <div class = "img-container">
                             
                          </div>
                           <div class = "hover-container">
                              
                      </div>
                      <div class = "product-div-right">
                          <span class = "product-name">Name: Blue Benz Unisex Watch</span>
                          <span class = "product-price">220</span>
                          <div class = "product-rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star-half-alt"></i></span>
                              <span>(200 ratings)</span>
                          </div>
                          <p class = "product-description">
                            Band Color: Blue<br>
                            Band Material Type: Metal<br>
                            Sizing: Adjustable<br>
                            Origin:India<br>
                            Type: Brass<br>
                            Net Quantity (N): 1
                           
                          </p>
                          <div class = "btn-groups">
                              <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                              <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </details>
        <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
         </div>
        



        <div class="pro">
          <img src="./assets/f5.jpeg" alt="" />
          <div class="des">
            <span>BUY</span>
            <h5>Black Batz</h5>
            <h4>Rs 298</h4>
          </div>
          <details target="_blank">
            <summary>Details</summary>
            <div class = "main-wrapper">
              <div class = "container">
                  <div class = "product-div">
                      <div class = "product-div-left"> 
                          <div class = "img-container">
                             
                          </div>
                           <div class = "hover-container">
                              
                      </div>
                      <div class = "product-div-right">
                          <span class = "product-name">Name: Black Batz/span>
                          <span class = "product-price">49</span>
                          <div class = "product-rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star-half-alt"></i></span>
                              <span>(300 ratings)</span>
                          </div>
                          <p class = "product-description">
                            Base Metal: Alloy<br>
                            Plating: Black Metal Plated<br>
                            Sizing: Adjustable<br>
                            Band Type: Auto<br>
                            Type: Specified<br>
                            Net Quantity (N): 1
                           
                          </p>
                          <div class = "btn-groups">
                              <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                              <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </details>
        <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
         </div>
        

        <div class="pro">
          <img src="./assets/f11.jpeg" alt="" />
          <div class="des">
            <span>BUY</span>
            <h5>Crystel beads layered necklace for women and girls</h5>
            <h4>Rs 187 </h4>
          </div>
          <details target="_blank">
            <summary>Details</summary>
            <div class = "main-wrapper">
              <div class = "container">
                  <div class = "product-div">
                      <div class = "product-div-left"> 
                          <div class = "img-container">
                             
                          </div>
                           <div class = "hover-container">
                              
                      </div>
                      <div class = "product-div-right">
                          <span class = "product-name">Name: Crystel beads layered necklace for women and girls
                            </span>
                          <span class = "product-price">187</span>
                          <div class = "product-rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star-half-alt"></i></span>
                              <span>(300 ratings)</span>
                          </div>
                          <p class = "product-description">
                            Base Metal: Glass<br>
                            Plating: No Plating<br>
                            Stone Type: Artificial Beads<br>
                            Sizing: Long<br>
                            Type: Layered<br>
                            Net Quantity (N): 1<br>
                            Sizes:Free Size
                            
                           
                          </p>
                          <div class = "btn-groups">
                              <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                              <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </details>
        <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
         </div>
        

        <div class="pro">
          <img src="./assets/f12.jpeg" alt="" />
          <div class="des">
            <span>BUY</span>
            <h5>Gold Plated Jewellery Set With Earring for womens</h5>
            <h4>Rs 225</h4>
          </div>
          <details target="_blank">
            <summary>Details</summary>
            <div class = "main-wrapper">
              <div class = "container">
                  <div class = "product-div">
                      <div class = "product-div-left"> 
                          <div class = "img-container">
                             
                          </div>
                           <div class = "hover-container">
                              
                      </div>
                      <div class = "product-div-right">
                          <span class = "product-name">Name: Gold Plated Jewellery Set With Earring for womens</span>
                          <span class = "product-price">225</span>
                          <div class = "product-rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star-half-alt"></i></span>
                              <span>(300 ratings)</span>
                          </div>
                          <p class = "product-description">
                            
                            Base Metal: Brass<br>
                            Plating: Gold Plated<br>
                            Stone Type: Kundan<br>
                            Sizing: Adjustable<br>
                            Type: Necklace and Earrings<br>
                            Net Quantity (N): 1<br>
                            Gold-plated artificial stone studded necklace, secured with a drawstring closure
                            A pair of matching drop earrings, secured with a post and back closure
                            
                           
                          </p>
                          <div class = "btn-groups">
                              <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                              <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </details>
        <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
         </div>
        


        <div class="pro">
          <img src="./assets/bg1 (4).jpeg" alt="" />
          <div class="des">
            <span>BUY</span>
            <h5>Gorgeous pink colour slingbag for college girls and women</h5>
            <h4>Rs 285</h4>
          </div>
          <details target="_blank">
            <summary>Details</summary>
            <div class = "main-wrapper">
              <div class = "container">
                  <div class = "product-div">
                      <div class = "product-div-left"> 
                          <div class = "img-container">
                             
                          </div>
                           <div class = "hover-container">
                              
                      </div>
                      <div class = "product-div-right">
                          <span class = "product-name"> Name: Gorgeous pink colour slingbag for college girls and women</span>
                          <span class = "product-price">285</span>
                          <div class = "product-rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star-half-alt"></i></span>
                              <span>(300 ratings)</span>
                          </div>
                          <p class = "product-description">
                           
                            Material: PU<br>
                            No. of Compartments: 2<br>
                            Pattern: Striped<br>
                            Net Quantity (N): 1<br>
                            Sizes:Free Size 
                           
                           
                          </p>
                          <div class = "btn-groups">
                              <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                              <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </details>
        <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
         </div>

    <!-- <section class="slider">
      <ul id="autoWidth" class="cs-hidden">
    
      <li class="item-a">
      <div class="box">
      <div class="slide-img">
      <img alt="" src="assets/b1 (2).jpeg">
      <div class="overlay">
      <a href="#" class="buy-btn">Add to Cart</a>	
      </div>
      </div>
      <div class="detail-box">
      <div class="type">
      <a href="#">Golden Silver Earring</a>
          <span>Accessories</span>
      </div>
      <a href="#" class="price">Rs90</a>
      </div>
      </div>		
       </li>
       
       
        <li class="item-a">
      <div class="box">
      <div class="slide-img">
      <img alt="schauhan.in responsive product slider using html css and javascript" src="assets/b1 (1).jpeg">
      <div class="overlay">
      <a href="#" class="buy-btn">Add to CART</a>	
      </div>
      </div>
      <div class="detail-box">
      <div class="type">
      <a href="#">Pyramid black Jhumka</a>
          <span>Accessories</span>
      </div>
      <a href="#" class="price">Rs150</a>
      </div>
      </div>		
       </li>
       
       
        <li class="item-a">
      <div class="box">
      <div class="slide-img">
      <img alt="schauhan.in responsive product slider using html css and javascript" src="assets/b1 (3).jpeg">
      <div class="overlay">
      <a href="#" class="buy-btn">Add to CART</a>	
      </div>
      </div>
      <div class="detail-box">
      <div class="type">
      <a href="#">Black Metal Earring</a>
          <span>Accessories</span>
      </div>
      <a href="#" class="price">Rs135</a>
      </div>
      </div>		
       </li>
       
       
        <li class="item-a">
      <div class="box">
      <div class="slide-img">
      <img alt="schauhan.in responsive product slider using html css and javascript" src="assets/bg1 (1).jpeg">
      <div class="overlay">
      <a href="#" class="buy-btn">Add to Cart</a>	
      </div>
      </div>
      <div class="detail-box">
      <div class="type">
      <a href="#">Prolistic Handy Bags</a>
        <span>Bags</span>
      </div>
      <a href="#" class="price">Rs200</a>
      </div>
      </div>		
       </li>
        <li class="item-a">
      <div class="box">
      <div class="slide-img">
      <img alt="schauhan.in responsive product slider using html css and javascript" src="assets/bg1 (2).jpeg">
      <div class="overlay">
      <a href="#" class="buy-btn">Add to Cart</a>	
      </div>
      </div>
      <div class="detail-box">
      <div class="type">
      <a href="#">Hueristic Tour Bags</a>
          <span>Bags</span>
      </div>
      <a href="#" class="price">Rs250</a>
      </div>
      </div>		
       </li>
       
       
        <li class="item-a">
      <div class="box">
      <div class="slide-img">
      <img alt="schauhan.in responsive product slider using html css and javascript" src="assets/bg1 (3).jpeg">
      <div class="overlay">
      <a href="#" class="buy-btn">Add to Cart</a>	
      </div>
      </div>
      <div class="detail-box">
      <div class="type">
      <a href="#">Ankelistic Antic Bracelet </a>
          <span>Accessories</span>
      </div>
      <a href="#" class="price">Rs150</a>
      </div>
      </div>		
       </li>
       
       
        <li class="item-a">
      <div class="box">
      <div class="slide-img">
      <img alt="schauhan.in responsive product slider using html css and javascript" src="assets/bg1 (4).jpeg">
      <div class="overlay">
      <a href="#" class="buy-btn">Add to Cart</a>	
      </div>
      </div>
      <div class="detail-box">
      <div class="type">
      <a href="#">Pink Color SlingBag</a>
         <span>Bag</span>
      </div>
      <a href="#" class="price">Rs285</a>
      </div>
      </div>		
       </li>
       
       
        <li class="item-a">
      <div class="box">
      <div class="slide-img">
      <img alt="schauhan.in responsive product slider using html css and javascript" src="assets/black1.jpeg">
      <div class="overlay">
      <a href="#" class="buy-btn">Add to Cart</a>	
      </div>
      </div>
      <div class="detail-box">
      <div class="type">
      <a href="#">Black Oxidized Jhumkas</a>
          <span>Accessories</span>
      </div>
      <a href="#" class="price">Rs112</a>
      </div>
      </div>		
       </li>
        <li class="item-a">
      <div class="box">
      <div class="slide-img">
      <img alt="schauhan.in responsive product slider using html css and javascript" src="assets/black2.jpeg">
      <div class="overlay">
      <a href="#" class="buy-btn">Add to Cart</a>	
      </div>
      </div>
      <div class="detail-box">
      <div class="type">
      <a href="#">Pyramid Black Earing</a>
         <span>Accessories</span>
      </div>
      <a href="#" class="price">Rs150</a>
      </div>
      </div>		
       </li>
       
       
        <li class="item-a">
      <div class="box">
      <div class="slide-img">
      <img alt="schauhan.in responsive product slider using html css and javascript" src="./assets/blue1 (1).jpeg">
      <div class="overlay">
      <a href="#" class="buy-btn">Add to Cart</a>	
      </div>
      </div>
      <div class="detail-box">
      <div class="type">
      <a href="#">Blue Roll Diamond</a>
         <span>Accessories</span>
      </div>
      <a href="#" class="price">Rs105</a>
      </div>
      </div>		
       </li>
      
    </ul>
    
      </section>
      </div>
      <h2>More options -</h2><br><br>
      <section id="product1" class="section-p1"> -->
<!--      
        <div class="pro-container">
          <div class="pro">
            <img src="./assets/blue1.1.jpeg" alt="" />
            <div class="des">
              <span>RENT</span>
              <h5>Blue Jhumka</h5>
              <h4>Rs 49</h4>
            </div>
            
            <details target="_blank">
              <summary>Details</summary>
              <div class = "main-wrapper">
                <div class = "container">
                    <div class = "product-div">
                        <div class = "product-div-left"> 
                            <div class = "img-container">
                               
                            </div>
                             <div class = "hover-container">
                                
                        </div>
                        <div class = "product-div-right">
                            <span class = "product-name">Name: Blue Roll Diamond Jhumkas</span>
                            <span class = "product-price">49</span>
                            <div class = "product-rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star-half-alt"></i></span>
                                <span>(300 ratings)</span>
                            </div>
                            <p class = "product-description">
                              Base Metal: Alloy<br>
                              Plating: Gold Plated<br>
                              Sizing: Adjustable<br>
                              Stone Type: Artificial Stones & Beads<br>
                              Type: Jhumkhas<br>
                              Net Quantity (N): 1
                             
                            </p>
                            <div class = "btn-groups">
                                <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                                <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </details>
          <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
           </div>
          
  
        
            <div class="pro">
            <img src="./assets/f9.jpeg" alt="" />
            <div class="des">
              <span>RENT</span>
              <h5>Designer Velvet Pink Heart Earrings
               </h5>
              <h4>Rs 75</h4>
            </div>
           
            <details target="_blank">
              <summary>Details</summary>
              <div class = "main-wrapper">
                <div class = "container">
                    <div class = "product-div">
                        <div class = "product-div-left"> 
                            <div class = "img-container">
                               
                            </div>
                             <div class = "hover-container">
                                
                        </div>
                        <div class = "product-div-right">
                            <span class = "product-name">Name:Designer Velvet Heart Earrings Fashion Earring for Women Girls</span>
                            <span class = "product-price">75</span>
                            <div class = "product-rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star-half-alt"></i></span>
                                <span>(300 ratings)</span>
                            </div>
                            <p class = "product-description">
                              Base Metal: Plastic<BR>
                              Plating: No Plating<BR>
                              Sizing: Non-Adjustable<BR>
                              Stone Type: No Stone<br>
                              Type: Studs<br>
                               
                             
                            </p>
                            <div class = "btn-groups">
                                <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                                <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </details>
          <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
           </div>
          <div class="pro">
            <img src="./assets/b1 (1).jpeg" alt="" />
            <div class="des">
              <span>RENT</span>
              <h5>Pyramid Style black silver Colour Jhumkas/Earrings For Women and Girl </h5>
              <h4>Rs 70</h4>
            </div>
            <details target="_blank">
              <summary>Details</summary>
              <div class = "main-wrapper">
                <div class = "container">
                    <div class = "product-div">
                        <div class = "product-div-left"> 
                            <div class = "img-container">
                               
                            </div>
                             <div class = "hover-container">
                                
                        </div>
                        <div class = "product-div-right">
                            <span class = "product-name">Name:Pyramid Style black silver Colour Jhumkas/Earrings For Women and Girls
                             </span>
                            <span class = "product-price">70</span>
                            <div class = "product-rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star-half-alt"></i></span>
                                <span>(300 ratings)</span>
                            </div>
                            <p class = "product-description">
                              Base Metal: Brass & Copper<br>
                              Plating: Silver Plated<br>
                              Sizing: Adjustable<br>
                              Stone Type: Artificial Beads<br>
                              Type: Jhumkhas<br>
                              Net Quantity (N): 1<br>
                             
                            </p>
                            <div class = "btn-groups">
                                <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                                <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </details>
          <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
          </div>
          <div class="pro">
            <img src="./assets/b1 (2).jpeg" alt="" />
            <div class="des">
              <span>RENT</span>
              <h5>Goldenish-White Pearls</h5>
              <h4>Rs 42</h4>
            </div>
            <details target="_blank">
              <summary>Details</summary>
              <div class = "main-wrapper">
                <div class = "container">
                    <div class = "product-div">
                        <div class = "product-div-left"> 
                            <div class = "img-container">
                               
                            </div>
                             <div class = "hover-container">
                                
                        </div>
                        <div class = "product-div-right">
                            <span class = "product-name"> Name: Golden Silver earrings for girls</span>
                            <span class = "product-price">42</span>
                            <div class = "product-rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star-half-alt"></i></span>
                                <span>(300 ratings)</span>
                            </div>
                            <p class = "product-description">
                             
                              Base Metal: Alloy<br>
                              Plating: Micro Plating<br>
                              Sizing: Adjustable<br>
                              Stone Type: Agate<br>
                              Net Quantity-1<br>
                              
                             
                            </p>
                            <div class = "btn-groups">
                                <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                                <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </details>
          <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
        </div>
          <div class="pro">
            <img src="./assets/f2.jpeg" alt="" />
            <div class="des">
              <span>RENT</span>
              <h5>Stylish Silver Plated multi colourflowrel hoops</h5>
              <h4>Rs 42</h4>
            </div>
           
            
            <details target="_blank">
              <summary>Details</summary>
              <div class = "main-wrapper">
                <div class = "container">
                    <div class = "product-div">
                        <div class = "product-div-left"> 
                            <div class = "img-container">
                               
                            </div>
                             <div class = "hover-container">
                                
                        </div>
                        <div class = "product-div-right">
                            <span class = "product-name">Name:Stylish Silver Plated multi colourflowrel hoops
                             </span>
                            <span class = "product-price">42</span>
                            <div class = "product-rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star-half-alt"></i></span>
                                <span>(250 ratings)</span>
                            </div>
                            <p class = "product-description">
                              Base Metal: Brass<br>
                              Plating: Oxidised Silver<br>
                              Sizing: Non-Adjustable<br>
                              Stone Type: No Stone<br>
                              Type: Half Hoop Earrings<br>
                              Net Quantity (N): 1<br>
                             
                             
                            </p>
                            <div class = "btn-groups">
                                <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                                <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </details>
          <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
           </div>
          
  
          <div class="pro">
            <img src="./assets/f7.jpeg" alt="" />
            <div class="des">
              <span>RENT</span>
              <h5>Black Silver Ring Earring</h5>
              <h4>Rs 63</h4>
            </div>
            
            <details target="_blank">
              <summary>Details</summary>
              <div class = "main-wrapper">
                <div class = "container">
                    <div class = "product-div">
                        <div class = "product-div-left"> 
                            <div class = "img-container">
                               
                            </div>
                             <div class = "hover-container">
                                
                        </div>
                        <div class = "product-div-right">
                            <span class = "product-name">Name: Black Silver Ring Earring
                              </span>
                            <span class = "product-price">63</span>
                            <div class = "product-rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star-half-alt"></i></span>
                                <span>(150 ratings)</span>
                            </div>
                            <p class = "product-description">
                              Base Metal: Brass<br>
                              Plating: Oxidised Silver<br>
                              Sizing: Adjustable<br>
                              Stone Type: Artificial Stones & Beads<br>
                              Net Quantity (N): 1<br>
                             
                             
                            </p>
                            <div class = "btn-groups">
                                <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                                <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </details>
          <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
           </div>
          <div class="pro">
            <img src="./assets/f4.jpeg" alt="" />
            <div class="des">
              <span>RENT</span>
              <h5>Blue Benz Unisex Watch</h5>
              <h4>Rs 120</h4>
            </div>
              <details target="_blank">
              <summary>Details</summary>
              <div class = "main-wrapper">
                <div class = "container">
                    <div class = "product-div">
                        <div class = "product-div-left"> 
                            <div class = "img-container">
                               
                            </div>
                             <div class = "hover-container">
                                
                        </div>
                        <div class = "product-div-right">
                            <span class = "product-name">Name: Blue Benz Unisex Watch</span>
                            <span class = "product-price">120</span>
                            <div class = "product-rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star-half-alt"></i></span>
                                <span>(200 ratings)</span>
                            </div>
                            <p class = "product-description">
                              Band Color: Blue<br>
                              Band Material Type: Metal<br>
                              Sizing: Adjustable<br>
                              Origin:India<br>
                              Type: Brass<br>
                              Net Quantity (N): 1
                             
                            </p>
                            <div class = "btn-groups">
                                <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                                <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </details>
          <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
           </div>
          
          
  
  
          <div class="pro">
            <img src="./assets/f1.jpeg" alt="" />
            <div class="des">
              <span>RENT</span>
              <h5>Round White Flower Design Earing</h5>
              <h4>Rs 45</h4>
            </div>
            <details target="_blank">
              <summary>Details</summary>
              <div class = "main-wrapper">
                <div class = "container">
                    <div class = "product-div">
                        <div class = "product-div-left"> 
                            <div class = "img-container">
                               
                            </div>
                             <div class = "hover-container">
                                
                        </div>
                        <div class = "product-div-right">
                            <span class = "product-name">Name: Round White Flower Design Earing
                              </span>
                            <span class = "product-price">45</span>
                            <div class = "product-rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star-half-alt"></i></span>
                                <span>(350 ratings)</span>
                            </div>
                            <p class = "product-description">
                              Base Metal: Plastic<br>
                              Plating: Silver Plated<br>
                              Sizing: Non-Adjustable<br>
                              Stone Type: Pearls<br>
                              Type: Hoop Earrings<br>
                              Net Quantity (N): 1<br>
                              
                             
                            </p>
                            <div class = "btn-groups">
                                <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                                <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </details>
          <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
           </div>
          <div class="pro">
            <img src="./assets/f8.jpeg" alt="" />
            <div class="des">
              <span>RENT</span>
              <h5> Classic earring for women</h5>
              <h4>Rs 105</h4>
            </div>
            <details target="_blank">
              <summary>Details</summary>
              <div class = "main-wrapper">
                <div class = "container">
                    <div class = "product-div">
                        <div class = "product-div-left"> 
                            <div class = "img-container">
                               
                            </div>
                             <div class = "hover-container">
                                
                        </div>
                        <div class = "product-div-right">
                            <span class = "product-name">Name:Classic earring for women 
                              </span>
                            <span class = "product-price">105</span>
                            <div class = "product-rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star-half-alt"></i></span>
                                <span>(250 ratings)</span>
                            </div>
                            <p class = "product-description">
                              Base Metal: Brass<br>
                              Plating: Silver Plated<br>
                              Sizing: Adjustable<br>
                              Stone Type: Pearls<br>
                              Type: Drop Earrings<br>
                              Net Quantity (N): 1
                              
                             
                            </p>
                            <div class = "btn-groups">
                                <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                                <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </details>
          <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
           </div>
          <div class="pro">
            <img src="./assets/f10.jpeg" alt="" />
            <div class="des">
              <span>RENT</span>
              <h5>Black Moti Glare</h5>
              <h4>Rs 190</h4>
            </div>
            <details target="_blank">
              <summary>Details</summary>
              <div class = "main-wrapper">
                <div class = "container">
                    <div class = "product-div">
                        <div class = "product-div-left"> 
                            <div class = "img-container">
                               
                            </div>
                             <div class = "hover-container">
                                
                        </div>
                        <div class = "product-div-right">
                            <span class = "product-name">Name: Black Moti Glare</span>
                            <span class = "product-price">190</span>
                            <div class = "product-rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star-half-alt"></i></span>
                                <span>(300 ratings)</span>
                            </div>
                            <p class = "product-description">
                              Base Metal: Alloy<br>
                              Plating: Black Plated<br>
                              Sizing: Adjustable<br>
                              Stone Type: Beads<br>
                              Type: Jhumkhas<br>
                              Net Quantity (N): 1
                             
                            </p>
                            <div class = "btn-groups">
                                <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                                <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </details>
          <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
           </div>
          <div class="pro">
            <img src="./assets/f6.jpeg" alt="" />
            <div class="des">
              <span>RENT</span>
              <h5>Fastrack- Unix</h5>
              <h4>Rs 198</h4>
            </div>
            
            <details target="_blank">
              <summary>Details</summary>
              <div class = "main-wrapper">
                <div class = "container">
                    <div class = "product-div">
                        <div class = "product-div-left"> 
                            <div class = "img-container">
                               
                            </div>
                             <div class = "hover-container">
                                
                        </div>
                        <div class = "product-div-right">
                            <span class = "product-name">Name: Fastrack- Unix</span>
                            <span class = "product-price">198</span>
                            <div class = "product-rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star-half-alt"></i></span>
                                <span>(300 ratings)</span>
                            </div>
                            <p class = "product-description">
                              Band Metal color: Gold and Black<br>
                              Plating: Gold Plated<br>
                              Sizing: Adjustable<br>
                              Origin: India<br>
                              Type: Automatic<br>
                              Net Quantity (N): 1
                             
                            </p>
                            <div class = "btn-groups">
                                <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                                <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </details>
          <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
        </div>  
          <div class="pro">
            <img src="./assets/f3.jpeg" alt="" />
            <div class="des">
              <span>RENT</span>
              <h5>fastrack -Unisex</h5>
              <h4>Rs 188</h4>
            </div>
  
            <details target="_blank">
              <summary>Details</summary>
              <div class = "main-wrapper">
                <div class = "container">
                    <div class = "product-div">
                        <div class = "product-div-left"> 
                            <div class = "img-container">
                               
                            </div>
                             <div class = "hover-container">
                                
                        </div>
                        <div class = "product-div-right">
                            <span class = "product-name">fastrack -Unisex</span>
                            <span class = "product-price">188</span>
                            <div class = "product-rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star-half-alt"></i></span>
                                <span>(300 ratings)</span>
                            </div>
                            <p class = "product-description">
                              Band Metal color: Black<br>
                              Plating: Black Metal Plated<br>
                              Sizing: Adjustable<br>
                              Origin: India<br>
                              Type: Adust<br>
                              Net Quantity (N): 1
                             
                            </p>
                            <div class = "btn-groups">
                                <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                                <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </details>
          <div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
           </div>
  
      </section>       -->
    <section id="pagination">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#"><i class="fa-sharp fa-solid fa-arrow-right"></i></a> 
    </section><br><br>

      <!--FOOTER -->

    <footer class="section-p1">
      <div class="logo">
        <img src="./assets/logo.jpg" class="logo" alt="" />
        <h4>Contact</h4>
        <p><strong>Address:</strong> Bhimtal , Uttarakhand</p>
        <p>
          <strong>Phone:</strong><br>91+ 9696861496<br>91+ 8218802417<br>91+ 6006797916<br>
          91+ 7409218381 <br>91+ 7830889123
        </p>
        <p>Hours: 10:00- 18:00, Mon-Sat</p>
        <div class="follow">
          <h4>Follow Us</h4>
          <div class="icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>

      <div class="col">
        <h4>About</h4>
        <a href="/about">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="/t&c">Privacy Policy</a>
        <a href="/t&c">Terms&Conditions</a>
        <a href="/contactus">Contact Us</a>
      </div>
      <div class="col">
        <h4>My Account</h4>
        <a href="/signup">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="/contactus">Help</a>
      </div>
      <div class="copyright">
        
      </div>
      <p>copyright , 2022 -reventa reselling and renting website</p>
    </footer>

    <script>
function toggleClock() {
    // get the clock
    var myClock = document.getElementById('clock');

    // get the current value of the clock's display property
    var displaySetting = myClock.style.display;

    // also get the clock button, so we can change what it says
    var clockButton = document.getElementById('clockButton');

    // now toggle the clock and the button text, depending on current state
    if (displaySetting == 'block') {
      // clock is visible. hide it
      myClock.style.display = 'none';
      // change button text
      clockButton.innerHTML = 'Show clock';
    }
    else {
      // clock is hidden. show it
      myClock.style.display = 'block';
      // change button text
      clockButton.innerHTML = 'Hide clock';
    }
  }
  document.addEventListener("DOMContentLoaded", function(event) {   
	const cartButtons = document.querySelectorAll('.cart-button');

	 cartButtons.forEach(button => {

			  button.addEventListener('click',cartClick);

	 });

	 function cartClick(){
	  let button =this;
	  button.classList.add('clicked');
	 }	
	
});    
    </script>
  </body>
</html>