<html lang="en">
  <head>
    <meta charaset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>team</title>
    <link rel="stylesheet" href="/css/form.css" />
    <style>
      /* CSS */
      .button-28 {
        appearance: none;
        background-color: transparent;
        border: 2px solid #1a1a1a;
        border-radius: 15px;
        box-sizing: border-box;
        color: #3b3b3b;
        cursor: pointer;
        display: inline-block;
        font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        min-height: 60px;
        min-width: 0;
        outline: none;
        padding: 16px 24px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
        will-change: transform;
      }
      .button-28:disabled {
        pointer-events: none;
      }
      .button-28:hover {
        color: #fff;
        background-color: #1a1a1a;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
      }
      .button-28:active {
        box-shadow: none;
        transform: translateY(0);
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="section-title">
        <h1>Our Team Page</h1>
      </div>

      <div class="row">
        <div class="column">
          <div class="team">
            <div class="team-img">
              <img src="./assets/sneh.jpg" alt="Team Image" />
            </div>
            <div class="team-content">
              <h2>SNEHA JOSHI</h2>
              <h3>CO-FOUNDER</h3>
              <p>
                I have managed the execution tasks ,guided the team along the
                way and coordinated with the team members along with their
                efforts and skills to achieve real change for our customers . I
                am excited for this to reach a wide audience.
              </p>
              <h4>Execution</h4>
            </div>
            <div class="team-social">
              <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
              <a href="#" class="social-fb">
                <i class="fab fa-facebook-f"></i
              ></a>
              <a href="#" class="social-li">
                <i class="fab fa-linkedin-in"></i
              ></a>
              <a href="#" class="social-in">
                <i class="fab fa-instagram"></i
              ></a>
              <a href="#" class="social-yt"> <i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="team">
            <div class="team-img">
              <img src="./assets/mansi.jpg" alt="Team Image" />
            </div>
            <div class="team-content">
              <h2>MANSI RAJWAR</h2>
              <h3>CO-FOUNDER</h3>
              <p>
                Working as a team member I have seen that " if we are not
                dreaming big, we are held back with fear. When I learned to walk
                through my fears, I was freed to not only dream big, I started
                to live those dreams"
              </p>
              <h4>Management</h4>
            </div>
            <div class="team-social">
              <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
              <a href="#" class="social-fb">
                <i class="fab fa-facebook-f"></i
              ></a>
              <a href="#" class="social-li">
                <i class="fab fa-linkedin-in"></i
              ></a>
              <a href="#" class="social-in">
                <i class="fab fa-instagram"></i
              ></a>
              <a href="#" class="social-yt"> <i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="team">
            <div class="team-img">
              <img src="./assets/anushka.jpg" alt="Team Image" />
            </div>
            <div class="team-content">
              <h2>ANUSHKA JOSHI</h2>
              <h3>CO-FOUNDER</h3>
              <p>
                Great honor in being the part of this team which has helped me a
                lot as a developer i have gained experience of critical thinking
                according to changing demands and creating something amazing
              </p>
              <h4>Developer</h4>
            </div>
            <div class="team-social">
              <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
              <a href="#" class="social-fb">
                <i class="fab fa-facebook-f"></i
              ></a>
              <a href="#" class="social-li">
                <i class="fab fa-linkedin-in"></i
              ></a>
              <a href="#" class="social-in">
                <i class="fab fa-instagram"></i
              ></a>
              <a href="#" class="social-yt"> <i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div class="team">
            <div class="team-img">
              <img src="./assets/reeta.jpg" alt="Team Image" />
            </div>
            <div class="team-content">
              <h2>REETA UPRETI</h2>
              <h3>CO-FOUNDER</h3>
              <p>
                As a member of the team I learned many new things. With the
                teams support and my efforts all the functioning has been smooth
                has always motivated me and pushed me to the limits so that our
                potential can reach great heights.
              </p>
              <h4>Operational</h4>
            </div>
            <div class="team-social">
              <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
              <a href="#" class="social-fb">
                <i class="fab fa-facebook-f"></i
              ></a>
              <a href="#" class="social-li">
                <i class="fab fa-linkedin-in"></i
              ></a>
              <a href="#" class="social-in">
                <i class="fab fa-instagram"></i
              ></a>
              <a href="#" class="social-yt"> <i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="team">
            <div class="team-img">
              <img src="./assets/sonam.jpg" alt="Team Image" />
            </div>
            <div class="team-content">
              <h2>SONAM SHARMA</h2>
              <h3>CO-FOUNDER</h3>
              <p>
                As a part of this amazing journey with my team members in my
                contribution to designing I have learnt a lot and being around
                my team members helped me to introspect my strengths and
                weaknesses
              </p>
              <h4>Designer</h4>
            </div>
            <div class="team-social">
              <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
              <a href="#" class="social-fb">
                <i class="fab fa-facebook-f"></i
              ></a>
              <a href="#" class="social-li">
                <i class="fab fa-linkedin-in"></i
              ></a>
              <a href="#" class="social-in">
                <i class="fab fa-instagram"></i
              ></a>
              <a href="#" class="social-yt"> <i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a href="/">
      <button class="button-28" role="button">GO TO HOME PAGE</button>
    </a>
  </body>
</html>
